{% extends "base.html" %}
{% load static %} 
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Привет, я Лаптев Роман a.k.a. Spacemarine</h1>
<p>
  Я окончил МГТУ им. Н. Э. баумана. Мой факультет - МТ3 "Технологии машиностроения". 
</p>
<p>
  Я работаю инженером-конструктором и сейчас являюсь студентом курсов Python-разработчик от Яндекс.Пракстикум
</p> 
<p>
  Здесь принято выкладывать фотографии моих питомцев. Чтож вот оно:
</p>
<img src="{% static 'img/igor.png' %}"> 
<p>
  Это мое растение. Вообще у него нет имени но иногда я зову его Игорем. Правда это не очень оригинально. 
</p>
<a href="https://github.com/Spacemarine1789"> 
  Вот ссылка на мой GitHub
</a>
<a href="https://t.me/@spacemarine_1789"> 
  Вы можете написать мне в телеграм
</a>
<p>
  В телеграме можете написать свои пожелания и рекомендации о проекте или предложить новое имя для растения. 
</p>
<p>
  P.S. Вот мой домашнее рабочее место  
</p>
<img src="{% static 'img/work.png' %}"> 
{% endblock %} 